h1{
  color: black;
}

li{
  list-style: none;
  display: inline-table;
  padding: 10px;
  margin-left: 20px;
}

img{
  width: 350px;
}

figure{
  margin: 0;
  border: 1px solid #000;
  position: relative;
}

figcaption{
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  font-size: 1.2em;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

input {
  width: 300px;
  margin-right: 7px;
}

select {
  width: 500px;
  margin-right: 7px;
}

select:focus {
  outline: none !important;
}

.sort-box {
  margin: 25px 0px 0px 0px;
  height: 80px;
  display: flex;
  flex-direction: row;
  background-color: rgba(3,68,106,0.07);
  align-items: center;
  padding: 0px 9px 0px 9px;
  border: 1px solid rgba(3,68,106,0.1);
  border-radius: 8px;
  justify-content: space-between;
}

.search-box {
  display: flex;
  flex-direction: row;
  width: 80%;
}
