h1{
  color: green;
}

li{
  list-style: none;
  display: inline-table;
  padding: 10px;
  margin-left: 20px;
}

img{
  width: 350px;
}

figure{
  margin: 0;
  border: 1px solid #000;
  position: relative;
}

figcaption{
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  font-size: 1.2em;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
