<div class="sort-box">
  <div class="search-box">
    <input class="form-control" type="text" name="search" placeholder="Search by Name" #Searchstring>
    <button class="btn btn-search" (click)="searchByTerm(Searchstring.value)">Search</button>
  </div>

  <select class="form-control" (change)="onChange($event.target.value)" placeholder="Filter by Role">
    <!-- <option value="" disabled selected>Filter By Role</option> -->
    <option value="allRoles" selected>allRoles</option>
    <option value="low">low</option>
    <option value="high">high</option>
  </select>
</div>

<ul>
  <li *ngFor="let device of devices |  searchFilter:filterByWords | roleSort:filterByRole ">
      <figure>
        <img src="{{device.image}}" alt="{{device.name}}">
        <figcaption>
          {{device.name}}
        </figcaption>
      </figure>
    <!-- lists the device info -->
    <div class="device-info">
      <h4>Device Info:</h4>
        <p><strong>Name:</strong> {{device.name}}
        <p><strong>Location:</strong> {{device.location}}</p>
        <p><strong>Role:</strong> {{device.role}}</p>
        <p><strong>Status:</strong> {{device.status}}</p>
        <p><strong>History:</strong> {{device.history}}</p>
        <p><strong>Date:</strong> {{device.date}}</p>
      <hr>
    </div>
    </li>
</ul>
