<!-- New form to add a new device -->
<button class="newdevice-form"(click)="changeShowStatus()">Add a New Device</button>
  <form  *ngIf="showHide">
    <div class="form-group">
      <label name="new-name">New Name </label>
      <input #newName>
    </div>
    <div class="form-group">
      <label name="new-image">New image</label>
      <input #newImage>
    </div>
    <div class="form-group">
      <label name="new-location">New location</label>
      <input #newLocation>
    </div>
    <div class="form-group">
      <label name="new-role">New role</label>
      <input #newRole>
    </div>
    <div class="form-group">
      <label name="new-status">New status</label>
      <input #newStatus>
    </div>
    <div class="form-group">
      <label name="new-history">New history</label>
      <input #newHistory>
    </div>
    <div class="form-group">
      <label name="new-date">New Date</label>
      <input #newDate>
    </div>
      <br>
      <button (click)="newDevice(newName.value, newImage.value, newLocation.value, newRole.value, newStatus.value, newHistory.value, newDate.value); newName.value=''; newImage.value=''; newLocation.value=''; newRole.value=''; newStatus.value=''; newHistory.value=''; newDate.value='';">Add!</button>
  </form>
