<!-- New form to add a new animal -->
<h1>New Device</h1>
    <div class="form-group">
      <label name="new-name">New Name </label>
      <input #newName>
    </div>
    <div class="form-group">
      <label name="new-image">New image</label>
      <input #newImage>
    </div>
    <div class="form-group">
      <label name="new-name">New name</label>
      <input #newName>
    </div>
    <div class="form-group">
      <label name="new-age">New age</label>
      <input #newAge>
    </div>
    <div class="form-group">
      <label name="new-diet">New diet</label>
      <input #newDiet>
    </div>
    <div class="form-group">
      <label name="new-location">New location</label>
      <input #newLocation>
    </div>
    <div class="form-group">
      <label name="new-caretakers">New caretakers</label>
      <input #newCaretakers>
    </div>
    <div class="form-group">
      <label name="new-sex">New sex</label>
      <input #newSex>
    </div>
      <div class="form-group">
      <label name="new-likes">New likes</label>
      <input #newLikes>
      </div>
      <div class="form-group">
      <label name="new-dislikes">New dislikes</label>
      <input #newDislikes>
      </div>
      <br>
      <button (click)="newAnimal(newSpecies.value, newImage.value, newName.value, newAge.value, newDiet.value, newLocation.value, newCaretakers.value, newSex.value, newLikes.value, newDislikes.value); newSpecies.value=''; newImage.value=''; newName.value=''; newAge.value=''; newDiet.value=''; newLocation.value=''; newCaretakers.value=''; newSex.value=''; newLikes.value=''; newDislikes.value='';">Add!</button>
